body {
  margin: 0;
}

header {
  background-color: black;
}

.foot {
  background-color: black;
  color: white;
}

.ul1 {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  font-size: 1rem;
  position: static;
}
.ul2 {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  font-size: 1rem;
  position: static;
}

li {
  margin: 0;
  float: left;
  padding-left: 50px;
}

li :visited {
  color: white;
}
li :hover {
  color: red;
}

li :active {
  color: gold;
}

.button {
  border: 1px solid white;
  background-color: orange;
  font-weight: bold;
  color: white;
  font-size: 20px;
  padding: 15px 34px;
}

.start {
  text-align: center;
  padding-left: 350px;
}

.titre {
  width: auto;
  margin: auto;
  color: white;
  font-size: 20px;
}
.body {
  background-color: rgb(2, 162, 255);
}
.for {
  background-color: white;
  width: auto;
  margin: 0;
}
.perso {
  float: left;
  padding: 0px;
  margin-top: 50px;
}

table {
  color: white;
}
.td1 {
  padding-left: 100px;
}
.td3 {
  padding-left: 100px;
}
.td2 {
  padding-left: 25px;
}
.td4 {
  padding-left: 25px;
}
