.body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

header {
  background-color: black;
}

.foot {
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
}

.ul1 {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  font-size: 1rem;
  position: static;
}
.ul2 {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  font-size: 1rem;
  position: static;
}

li {
  margin: 0;
  float: left;
  padding-left: 50px;
}

li :visited {
  color: white;
}
li :hover {
  color: red;
}

li :active {
  color: gold;
}

.button {
  border: 1px solid white;
  background-color: orange;
  font-weight: bold;
  color: white;
  font-size: 16px;
  padding: 15px 34px;
}

.start {
  width: auto;
  margin: auto;
}

.titre {
  width: auto;
  margin: auto;
  color: white;
  font-size: 20px;
}

.titreHW{
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.turlutu{
  width: 250px;
  height: auto;
  display: flex;
  justify-content: center;
}

.body {
  background-color: rgb(2, 162, 255);
}
.for {
  background-color: white;
  width: auto;
  margin: 0;
  display: flex;
  justify-content: center;
}
.perso {
  float: left;
  padding: 0px;
  margin-top: 50px;
  position: absolute;
}

table {
  color: white;
}
.td1 {
  padding-left: 100px;
}
.td3 {
  padding-left: 100px;
}
.td2 {
  padding-left: 25px;
}
.td4 {
  padding-left: 25px;
}

.ifoot {
  background-color: rgb(221, 221, 221);
  width: 100%;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}
